html * {
  font-family: Verdana;
  font-size: small;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.header {
  background-color: #ccc;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  border-bottom: 1px solid #bbb;
}

tr.tab:nth-child(even) {
  background-color: #eee;
}

.separator {
  background-color: #ddd;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

td.tab {
  border-bottom: 1px solid #ddd;
}

a.tabURL {
  font-family: consolas, monospace;
  font-weight: normal;
  color: blue;
  text-decoration: none;
}

.cellButton {
  display: block;
  width: 100%;
}
